
<h3>Vendas Realizadas</h3>

<table>
	<thead>
		<% @parsed_data_header.each do |header| %>
			<th><%= header %></th>
		<% end %>
	</thead>
	<tbody>
		<% @sales.each do |sale| %>
			<tr>
				<td><%= sale.customer.name %></td>
				<td><%= sale.product.description %></td>
				<td><%= sale.product.price %></td>
				<td><%= sale.quantity %></td>
				<td><%= sale.product.provider.address.principal %></td>
				<td><%= sale.product.provider.name %></td>
			</tr>			
		<% end %>
	</tbody>
</table>

<h3>Dados Enviados</h3>
<table>
	<thead>
		<% @parsed_data_header.each do |header| %>
			<th><%= header %></th>
		<% end %>
	</thead>
	<tbody>
		<% @parsed_data.each do |data| %>
			<tr>
				<% for i in 0..data.length %>
					<td><%= data[i] %></td>	
				<% end %>				
			</tr>			
		<% end %>
	</tbody>
</table>