<h3>Cadatro de Vendas em Lote</h3>

<%= form_tag '/upload/upload_file', multipart: true do %>
  <label for="file">Lote de Vendas</label> 
  <%= file_field "upload", "datafile" %>
  <%= submit_tag 'Enviar' %>
<% end %>